USE [master]
GO
/****** Object:  Database [PRN231_OnPE_gRPC]    Script Date: 28/10/2023 9:33:53 pm ******/
CREATE DATABASE [PRN231_OnPE_gRPC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN231_OnPE_gRPC', FILENAME = N'D:\SQL_SERVER\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN231_OnPE_gRPC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN231_OnPE_gRPC_log', FILENAME = N'D:\SQL_SERVER\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN231_OnPE_gRPC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN231_OnPE_gRPC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN231_OnPE_gRPC]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28/10/2023 9:33:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28/10/2023 9:33:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NULL,
	[UnitPrice] [int] NOT NULL,
	[UnitsInStock] [int] NOT NULL,
	[Description] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Cat 01')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Cat 02')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Cat 03')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [UnitPrice], [UnitsInStock], [Description]) VALUES (1, N'Product 01 edited ne hihi', 2, 100, 20, N'Producr01 ')
INSERT [dbo].[Product] ([ProductId], [ProductName], [CategoryId], [UnitPrice], [UnitsInStock], [Description]) VALUES (2, N'Product 02 a', 2, 200, 30, N'product02 ')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
